{% extends './base.html' %}

<!-- content -->

{% block content %}
<!--  -->

<h1>Welcome, {{ user.username }}</h1>
<ul>
    <li>
        <span> {{ user.id }} </span>
    </li>
    <li>
        <span> {{ user.first_name }} </span>
    </li>
    <li>
        <span> {{ user.last_name }} </span>
    </li>
    <li>
        <span> {{ user.email }} </span>
    </li>
    <li>
        <span> {{ user.password }} </span>
    </li>
    <li>
        <span> {{ user.image }} </span>
    </li>
    <li>
        <img
            src="{{ user.image_url }}"
            class="card-img-top w-25 h-25 object-cover"
            alt="{{ user.username }}"
        />
    </li>
</ul>

<h2>blogs</h2>
<ul>
    <li>
        <span></span>
    </li>
</ul>

<!--  -->
{% endblock %}
